.type-1727 {
  font-family: "Roboto", sans-serif; }
  .type-1727 .s-blog-tabs {
    justify-content: center; }
    .type-1727 .s-blog-tabs .switch-sort {
      background-color: rgba(97, 206, 112, 0.2);
      border-radius: 8px;
      position: relative;
      display: inline-block;
      width: 19px;
      height: 7px;
      padding: 0;
      margin: 0; }
      .type-1727 .s-blog-tabs .switch-sort span {
        background-color: #ffb536;
        position: absolute;
        top: -1px;
        right: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%; }
  .type-1727 .s-blog-tabs .h3, .type-1727 .s-blog-tabs h3 {
    display: inline-flex;
    font-size: 1rem;
    margin-left: 10px; }
  .type-1727 .s-blog-tabs .active {
    background-color: #ffb536;
    color: #fff; }
    .type-1727 .s-blog-tabs .active:hover {
      color: #fff !important; }
  .type-1727 .s-blog-tabs li i {
    padding: 6px 12px 6px 12px;
    color: #333;
    text-decoration: none;
    font-size: 14px; }
  .type-1727 .s-blog-tabs li a {
    padding: 6px 12px 6px 12px;
    margin: 0 5px 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 14px; }
    .type-1727 .s-blog-tabs li a:hover {
      color: #ffb536; }
