$f-family: "Roboto", sans-serif;
$s-l: 14px;
$t-color: #333;
$active-color: #ffb536;
$tc-font: bold 14px / 18px "Open Sans Condensed", Helvetica, Arial, Verdana,
  sans-serif;

@mixin limit-content($num) {
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.type-1727 {
  font-family: $f-family;
  .s-blog {
    &-tabs {
      justify-content: center;
      .switch-sort {
        background-color: rgba(97, 206, 112, 0.2);
        border-radius: 8px;
        position: relative;
        display: inline-block;
        width: 19px;
        height: 7px;
        padding: 0;
        margin: 0;
        span {
          background-color: $active-color;
          position: absolute;
          top: -1px;
          right: 0;
          width: 9px;
          height: 9px;
          border-radius: 50%;
        }
      }
    }
    &-tabs {
      .h3,
      h3 {
        display: inline-flex;
        font-size: 1rem;
        margin-left: 10px;
      }
      .active {
        background-color: $active-color;
        color: #fff;
        &:hover {
          color: #fff !important;
        }
      }
      li {
        i {
          padding: 6px 12px 6px 12px;

          color: $t-color;
          text-decoration: none;
          font-size: 14px;
        }
        a {
          padding: 6px 12px 6px 12px;
          margin: 0 5px 0 5px;
          color: $t-color;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            color: $active-color;
          }
        }
      }
    }
  }
}
