.type-1742 .hinh .position-relative {
  position: relative !important;
  padding-left: 63px;
  word-wrap: break-word; }
.type-1742 .hinh .info-agent {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s; }
  .type-1742 .hinh .info-agent i {
    cursor: pointer; }
.type-1742 .hinh img {
  border-radius: 50%;
  text-align: center; }
.type-1742 .hinh p {
  text-align: center;
  color: #8c95a2;
  font-family: "Nunito San Light"; }
.type-1742 .hinh h3 {
  text-align: center;
  color: #1f365c;
  font-family: "Nunito San Regular"; }
.type-1742 .hinh h3:hover {
  color: #ffb536; }
