/* Color */
$green: #38a638;
$white: #fff;

/* Background */
$bg_footer: #333;
$bg_footer_bottom: #111;

.type-20 {
  .a {
    height: 200px;
  }
  .green-color {
    color: $green;
  }

  .white-color {
    color: $white;
  }

  a {
    color: $white !important;
    transition: all 0.3s ease-in-out;
  }

  .img-fluid {
    height: 100px;
  }

  footer#footer {
    background: $bg_footer;

    .footer-top {
      border-bottom: 1px solid #555;
      height: 180px;
      line-height: 180px;

      .social {
        float: right;
        .social-icon {
          li {
            display: inline-block;

            i {
              background: $green;
              width: 50px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              color: $white;
              font-size: 20px;
              border-radius: 50%;
              margin-right: 10px;
            }
            i:hover {
              color: #999;
              background: #fff;
            }
          }
        }
      }
    }

    .footer-content {
      padding-top: 50px;
      line-height: 2.5;

      h1 {
        color: $green;
        margin-bottom: 30px;
      }
      h1:hover {
        color: #999;
      }

      .about-us {
        .item {
          a {
            color: $white;
            & > i {
              color: $green;
            }
          }
          &.address {
            margin-bottom: 50px;
          }

          strong {
            color: $green;
            margin-right: 10px;
            + span {
              color: $white;
            }
          }
        }
      }

      .explore {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          a {
            i {
              color: $green;
              margin-right: 5px;
            }
            &:hover {
              margin-left: 10px;
            }
          }
        }
      }

      .recent-news {
        line-height: 1.7;
        .row {
          margin-bottom: 30px;

          .time,
          a {
            color: $green;
            font-weight: bold;
          }

          .title {
            h3 {
              font-size: 16px;
            }
          }
        }
      }
    }

    .footer-bottom {
      background: $bg_footer_bottom;
      padding: 20px 0;
    }
  }

  /*== Back to top ==*/
  #back-to-top {
    position: fixed;
    z-index: 999999999;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $white;
    border-radius: 50%;
    display: none;
    i {
      color: #333333;
      font-size: 20px;
      font-weight: 900;
    }
  }
}
